@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{ 
  font-family:Roboto;
  color:white;
  background-color:#E2EEEE;
  width:100%;
  line-height:1.4;
  
}
header{
  width:100%;
   display:flex;
  justify-content:space-between;
  align-items:center;
   ;
  
  
}
h1{
  color:black;}
h2{color:black;}

h3{color:black;}

footer{background-color:orange;
color:green;
padding:10px;
text-align:center;}


li{list-style:none;
display:flex;}
