@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');body{ 
  font-family:Poppins;
  color:black;
  background-color:#E2EEEE;
  width:100%;
  line-height:1.4;
  
}
header{
  width:100%;
   display:flex;
  justify-content:space-between;
  align-items:center;
   ;
  
  
}
h1{
  color:maroon;}
h2{color:maroon;}

h3{color:maroon;}

footer{background-color:orange;
color:green;
padding:10px;
text-align:center;}



div{display:flex;}
